{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-4">
      <h2 class="mb-3">Sign in</h2>
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label" for="id_username">Username</label>
          <input class="form-control" type="text" name="username" autofocus required id="id_username">
        </div>
        <div class="mb-3">
          <label class="form-label" for="id_password">Password</label>
          <input class="form-control" type="password" name="password" required id="id_password">
        </div>
        <button class="btn btn-primary" type="submit">Log in</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
